@model IEnumerable<ModelFormVehicleViewModel>

@foreach (var mod in Model)
{
    <tr>
        <td class="col-md-2">@mod.Id</td>
        <td class="col-md-8">@mod.Name</td>
        <td class="col-md-2">
            <a class="btn btn-danger" asp-action="DeleteModel" asp-controller="Admin" asp-route-modelId="@mod.Id">Delete</a>
        </td>
    </tr>
}
